* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navbar-links {
    display: flex;
    column-gap: 15px;
}

.navbar-links a {
    text-decoration: none;
    color: #1D232C;
}

.navbar-links a:hover {
    text-decoration: underline;
    color: #1D232C;

}
.navbar-menu-toggle{
    display: none;
}
/* Side nav bar */
.side-navbar-links{
    background-color: #1D232c;
    width: 30%;
    height: 100%;
    position: fixed;
    left: -50%;
    padding: 20px;
    color: white;
    display: block;
    transition: 1s;
}
.side-navabar-link {
   margin-bottom: 30px;
}
.side-navbar-links a{
    text-decoration: none;
    color: white;
}
.side-navbar-links a:hover{
    text-decoration: underline;
}
/* Header */
.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}
.header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #1D232C;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    
}
.service{
    padding: 10px; 
}
.service-container-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.service-container-2 div{
    border-radius: 5px;
    background-color: #F2F4F7;
    padding: 10px;

}
.new-arrival{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.new-arrival-container{
    position: relative;
    flex-basis: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.new-arrival button{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #1D232C;
    border-radius: 10px;
    position: absolute;
    bottom: 10%;
    left: 20%;
    border: none;
}
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.news input{
    padding: 10px;
    width: 80vw;
    margin: 10px;
    border: solid black 2px;
}
.news button{
   background-color: #1D232C;
   color: #F2F4F7;
   padding: 8px;
   border: none;
   border-radius: 10px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 40px;
    background-color: #1D232C;
    color: white;
}
.footer-box1{
    padding: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.footer-box1 h2{
    margin-bottom: 10px;
}
.footer-box1 i{
    cursor: pointer;
}

.product-section{
    margin-top: 20px;
}
.product-search{
    width: 80%;
    border: solid black 2px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}
.product-search input{
    border: none;
    background-color: transparent;
    width: 100%;
}
.product-search input:focus{
    outline: none;
}

.products{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 10px;
    flex-wrap: wrap;
}
.products-box{
    text-align: center;
    flex-basis: 20%;
}
.products-box img{
    border-radius: 10px;
}
.main-contact{
    display: flex;
    justify-content: center;
}
.contact{
    margin: 15px;
    background-color: #1D232C;
    color: white;
    padding: 25px;
    width: 70%; 
    height: 600px;
}
.contact-item{
    padding: 35px;
    display: flex;
    flex-direction: column;
    
}
.contact-item input{
    width: 90%;
    height: 30px;
    outline: none;
    font-size: large;
    padding: 10px;
}
.contact-item textarea{
    width: 90%;
    height: 30px;
    outline: none;
    font-size: large;
    padding: 10px;
}
.contact button{
    margin-left: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    color: #1D232C;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
}

/* Media Query */
@media screen and (max-width:700px) {
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }   
    .img1{
        display: inline-block;

    }
    .service-container-1{
        display: none;
    }
    .service-container-2{
       flex-direction: column; 
    }
}